<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first Lab-assignment (01/25/2022, 50 points in total)**

(1) Write a Python program to count the number of characters in a string. (5 points)

Sample String : 'google.com', 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [45]:
def no_of_char(str):
    dict = {}
    for i in str:
        keys = dict.keys()
        if i in keys:
            dict[i] += 1
        else:
            dict[i] = 1
    return dict
print(no_of_char('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(2) Write a Python program to sum all the items in a list. (5 points)

In [46]:
tot=0
list=[10,15,20,25,30]
for i in list:
    tot+=i
    print("sum:",tot)

sum: 10
sum: 25
sum: 45
sum: 70
sum: 100

(3) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (5 points)

Sample String : 'restart', 

Expected Result : 'resta\$t'

In [47]:
str="restart"
char=str[0]
length=len(str)
str=str.replace(char,'$')
str=char+str[1:]
print(str)

resta$t

(4) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (5 points)

In [48]:
import math
def calc(a,b):
  s=math.pi*(1+a/b)**3
  return s
print(calc(3,7))

9.15916225536383

(5) Write a Python program to concatenate following dictionaries to create a new one. (5 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [22]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50, 6:60}
dic4={}
for d in (dic1,dic2,dic3): dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(6) Write a Python program to check whether an element exists within a tuple. (5 points)

In [25]:
tuple = ("n", 1, "i", 2, "k", 3, "h", 4, "i",5, "l", 6, "a")
print("k" in tuple)
print(7 in tuple)
print("s" in tuple)

True
False
False

(7) Write a Python program to find maximum and the minimum value in a set. (5 points)

In [28]:
set = {10,20,30,40,50}
print("max:")
print (max(set))
print("min:")
print(min(set))

max:
50
min:
10

(8) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (5 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [42]:
import random
studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313',
                'ak0934','vm0377','nm0618','sm1640',
                'sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

def partition(lst, n): 
    divide = len(lst) / float(n) 
    return [ lst[int(round(divide * i)): int(round(divide * (i + 1)))] for i in range(n) ]

partition(studnet_list,6)

[['ja0964', 'sa1198', 'sb1357', 'vb0218', 'sc1229'],
 ['kg0569', 'kg0470', 'sg1297', 'bg0320', 'fh0141'],
 ['jl1252', 'sk1386', 'ak0956', 'sk1390', 'sk1458'],
 ['sk1313', 'ak0934', 'vm0377', 'nm0618', 'sm1640'],
 ['sm1907', 'gn0108', 'pr0353', 'dr0609', 'ms1500'],
 ['aos0040', 'ds0814', 'av0659', 'nv0234', 'hy0232']]

(9) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (5 points)

In [41]:
array =[1,3,2,2]
def duplicated(x):
  length = len(x)
  dup = []
  notdup=[]
  for i in range(length-1):
    k = i + 1
    for j in range(k, length):
      if(x[i] == x[j]and x[i] not in dup) :
        dup.append(-1)
      elif(x[i] != x[j]and x[i] not in dup):
        dup.append(1)
  return(dup)


print(duplicated(array))

[1, 1, 1, -1]

(10) Write a Python program to select all the Sundays of a specified year. (5 extra points)

In [30]:
from datetime import date
import calendar
Year= 2022
A=calendar.TextCalendar(calendar.SUNDAY)
for i in range(1,13):
    for n in A.itermonthdays(Year,i):
        if n!=0:
            day=date(Year,i,n)
            if day.weekday()==6:
                print("%s,%d-%d-%d" % (calendar.day_name[6],n,i,Year))

Sunday,2-1-2022
Sunday,9-1-2022
Sunday,16-1-2022
Sunday,23-1-2022
Sunday,30-1-2022
Sunday,6-2-2022
Sunday,13-2-2022
Sunday,20-2-2022
Sunday,27-2-2022
Sunday,6-3-2022
Sunday,13-3-2022
Sunday,20-3-2022
Sunday,27-3-2022
Sunday,3-4-2022
Sunday,10-4-2022
Sunday,17-4-2022
Sunday,24-4-2022
Sunday,1-5-2022
Sunday,8-5-2022
Sunday,15-5-2022
Sunday,22-5-2022
Sunday,29-5-2022
Sunday,5-6-2022
Sunday,12-6-2022
Sunday,19-6-2022
Sunday,26-6-2022
Sunday,3-7-2022
Sunday,10-7-2022
Sunday,17-7-2022
Sunday,24-7-2022
Sunday,31-7-2022
Sunday,7-8-2022
Sunday,14-8-2022
Sunday,21-8-2022
Sunday,28-8-2022
Sunday,4-9-2022
Sunday,11-9-2022
Sunday,18-9-2022
Sunday,25-9-2022
Sunday,2-10-2022
Sunday,9-10-2022
Sunday,16-10-2022
Sunday,23-10-2022
Sunday,30-10-2022
Sunday,6-11-2022
Sunday,13-11-2022
Sunday,20-11-2022
Sunday,27-11-2022
Sunday,4-12-2022
Sunday,11-12-2022
Sunday,18-12-2022
Sunday,25-12-2022